// =========================================================
//
// contact
//
// =========================================================
//
//

.p-contact_inner {
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
}

.p-contact_list {
  text-align: left;
  //
  + .p-contact_list {
    margin-top: 2rem;
    //
    @media (min-width: $pad-size) {
      margin-top: 3.5rem;
    }
  }
}

.p-contact_name {
  position: relative;
  margin-bottom: .5rem;
  padding-left: 1.5rem;
  font-weight: bold;
  @include fontsize(16);
  //
  @media (min-width: $pad-size) {
    margin-bottom: 1rem;
    @include fontsize(20);
  }
  //
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    border: 2px solid $primary-color;
    border-radius: 100%;
    //
    @media (min-width: $pad-size) {
      top: 2px;
    }
  }
  //
  > small {
    display: block;
    padding-top: .25rem;
    @include fontsize(10);
    color: $gray;
    font-weight: 300;
    //
    @media (min-width: $pad-size) {
      @include fontsize(12);
      padding-top: .5rem;
    }
  }
}

.p-contact_value {
  //
   label {
    width: 100%;
    margin-bottom: .5rem;
    //
    @media (min-width: $pad-size) {
      width: 48%;
    }
  }
}


//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
