// =========================================================
//
// breadcrumb
//
// =========================================================
//
//
.c-breadcrumb_wrap {
  background-color: #dfe1df;
}

.c-breadcrumb {
  width: 915px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
}

.c-breadcrumb_item {
  position: relative;
  //
  + .c-breadcrumb_item {
    margin-left: 2em;
    //
    &::after {
      content: '';
      position: absolute;
      left: -1.3em;
      top: calc(50% - 1px);
      display: inline-block;
      width: 5px;
      height: 5px;
      border-right: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      transform: rotate(-45deg);
    }
  }
  //
  &:last-child {
    .c-breadcrumb_target {
      text-decoration: none;
    }
  }
}

.c-breadcrumb_target {
  color: $black;
  @include fontsize(10);
  text-decoration: underline;
  //
  &:hover {
    color: $primary-color;
    text-decoration: none;
  }
}
