// =========================================================
//
// headding
//
// =========================================================
//
//
.c-h1 {
  position: relative;
  overflow: hidden;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
  @include fontsize(18);
  line-height: 1.15;
  font-weight: 600;
  color: $white;
  text-align: left;
  letter-spacing: .05em;
  text-shadow: 1px 1px 3px rgba($black, .2);
  box-shadow: inset 0 0 30px rgba($white, .3);
  background-image: $primary-gradient;
  //
  @media (min-width: $pad-size) {
    padding-top: 9rem;
    padding-bottom: 9rem;
    @include fontsize(36);
  }
  //
  @media (min-width: $pc-size) {
    padding-top: 12rem;
    padding-bottom: 12rem;
    @include fontsize(36);
  }
  //
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 21.5rem;
    height: 21.5rem;
    left: -12rem;
    top: calc(50% - 21.5rem / 2);
    border-radius: 100%;
    background-color: rgba($white, .1);
    //
    @media (min-width: $pad-size) {
      width: 26rem;
      height: 26rem;
      left: -8.5rem;
      top: calc(50% - 26rem / 2);
    }
    @media (min-width: $pc-size) {
      width: 32rem;
      height: 32rem;
      left: -8.5rem;
      top: calc(50% - 32rem / 2);
    }
  }
  //
  i {
    display: block;
    margin-top: .5rem;
    @include fontsize(14);
    //
    @media (min-width: $pad-size) {
      margin-top: 1rem;
      @include fontsize(18)
    }
  }
}

.c-h2 {
  margin-bottom: 2rem;
  //
  @media (min-width: $pc-size) {
    margin-bottom: 3rem;
  }
}

.c-h2_inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  letter-spacing: .1em;
  line-height: 1.25;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba($white, .6);
  @include fontsize(18);
  //
  @media (min-width: $pad-size) {
  }
  //
  @media (min-width: $pc-size) {
    @include fontsize(24);
    margin-bottom: 2.5rem;
    margin-top: 3rem;
  }
  //
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    z-index: -1;
    top: calc(50% - 7rem / 2);
    left: calc(50% - 7rem / 2 - 2rem);
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    border: 1px solid rgba($primary-color, .5);
    //
    @media (min-width: $pc-size) {
      top: calc(50% - 10rem / 2);
      left: calc(50% - 10rem / 2 - 3rem);
      width: 10rem;
      height: 10rem;
    }
  }
  //
  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    z-index: -1;
    top: calc(50% - 5.5rem / 2);
    left: calc(50% - 5.5rem / 2 + 2rem);
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 100%;
    background-color: rgba($primary-color, .5);
    //
    @media (min-width: $pc-size) {
      top: calc(50% - 7.5rem / 2);
      left: calc(50% - 7.5rem / 2 + 3.5rem);
      width: 7.5rem;
      height: 7.5rem;
    }
  }
}

.c-h3 {
  margin-bottom: 1rem;
  //
  @media (min-width: $pc-size) {
    margin-bottom: 2rem;
  }
}

.c-h3_inner {
  position: relative;
  padding-bottom: .5rem;
  line-height: 1.25;
  display: inline-block;
  @include fontsize(18);
  //
  @media (min-width: $pc-size) {
    @include fontsize(20)
  }
  //
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: -.5rem;
    right: -.5rem;
    height: 3px;
    border-radius: 3px;
    background-color: $primary-color;
  }
}

.c-h4 {

}

.c-h4_inner {
  position: relative;
  display: inline-block;
  padding-left: 1rem;
  line-height: 1.35;
  letter-spacing: .1em;
  @include fontsize(16);
  //
  @media (min-width: $pc-size) {
    @include fontsize(18)
  }
  //
  &::after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 0;
    top: calc(50% - .5rem / 2);
    width: .5rem;
  height: .5rem;
    border-radius: 100%;
    background-color: $primary-color;
  }
}
