// =========================================================
//
// slider
//
// =========================================================
//
//
.c-slider {}

.c-slider_list {}

.c-slider_item {}

.c-slider_target {
  &:hover {}
}

.c-slider_nav {}

.c-slider_navi-item {}

.c-slider_navi_target {
  width: 80px;
  height: 80px;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: rgba($primary-color,0);
  //
  &:hover {
    background-color: rgba($primary-color,.1);
  }
  //
  &::after {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    border-bottom: 3px;
    border-style: solid;
    border-color: currentColor;
  }
  //
  &.c-slider_navi_target--prev {
    &::after {
      border-right: 3px;
      transform: translateX(25%) rotate(-45deg);
    }
  }
  &.c-slider_navi_target--next {
    &::after {
      border-left: 3px;
      transform: translateX(-25%) rotate(45deg);
    }
  }
}
